body {
    background-color: black;
    overflow: hidden;
}
.background {
    background-image: url("etch-a-sketch.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    position: absolute;
    height: 100vh;
    width: 150vh;
}

canvas {
    background-color: white;
    border-radius: 25px;
    margin-top: 175px;
    margin-left: 224px;
    height: 495px;
    width: 694px;
    position: absolute;
}
